
@{
    ViewData["Title"] = "StudentDashboard";
}

<h1>StudentDashboard</h1>


<h2> Welcome @User.Identity.Name To Student Dashboard </h2>


<ul>
    <li>
        <a asp-action="StudentDashboard" asp-controller="Student">
            Main
        </a>
    </li>
    <li>
        <a asp-controller="Student" asp-action="CourseList"
           asp-route-id="@User.Identity.Name">
            My Courses
        </a>
    </li>
    <li>
        <a asp-action="Signout" asp-controller="SignIn">
            Signout
        </a>
    </li>

</ul>


<p>
    Here You will find the lists of all your courses and their details ,
    select one of the option and get started
</p>


