
@{
    ViewData["Title"] = "CourseList";
}

<h1>CourseList</h1>


<h2> Welcome @User.Identity.Name To Instructor Dashboard </h2>



<a asp-action="Signout" asp-controller="SignIn">
    Signout
</a>

