@model TerraformMinds.Models.Course

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

@if (ViewBag.Message != null)
{
    @*TERNARY EXPRESSION*@
    <p class="alert-@(ViewBag.Error != null ? "danger" : "success")">@(ViewBag.Message)</p>

    if (ViewBag.Error != null)
    {
        <ul>
            @foreach (Exception e in ViewBag.Exception.ValidationExceptions)
            {
                <li class="alert-danger">@(e.Message)</li>
            }
        </ul>
    }
}

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CourseCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label">Instructor:</label>
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.Instructors">
                </select>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label">Course Name:</label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label">Subject:</label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Start Date:</label>
                <input asp-for="StartDate" class="form-control" type="date" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">End Date:</label>
                <input asp-for="EndDate" class="form-control" type="date" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseDescription" class="control-label">Course Description</label>
                <input asp-for="CourseDescription" class="form-control" />
                <span asp-validation-for="CourseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradeLevel" class="control-label">Grade Level</label>
                <select asp-for="GradeLevel" class="form-control" asp-items="ViewBag.GradeLevels">
                </select>
                <span asp-validation-for="GradeLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentCapacity" class="control-label">Current Capacity</label>
                <input asp-for="CurrentCapacity" class="form-control" />
                <span asp-validation-for="CurrentCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxCapacity" class="control-label">Max Capacity</label>
                <input asp-for="MaxCapacity" class="form-control" />
                <span asp-validation-for="MaxCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CourseList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
