
@{
    ViewData["Title"] = "Instructors List";
}

<ul>
    <li>
        <a asp-action="AdministratorDashboard" asp-controller="Administrator">Main</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Administrator" asp-action="InstructorList">Instructor List</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Administrator" asp-action="StudentList">Student List</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Administrator" asp-action="CourseList">Course List</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Administrator" asp-action="CourseCreate">Create Course</a>
    </li>
    <li>
        <a asp-action="Signout" asp-controller="SignIn">Signout</a>
    </li>

</ul>

<h1>Instructor List</h1>

@if (ViewBag.Instructors != null && ViewBag.Instructors.Count > 0)
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Instructor ID</th>
                <th>Full Name</th>
                <th>E-Mail</th>
                <th>Join Date</th>
                <th>Action</th>
            </tr>
            @foreach (User user in ViewBag.Instructors)
            {
                <tr>
                    <td>@(user.ID)</td>
                    <td>@(user.FirstName + " " + user.LastName)</td>
                    <td>@(user.EMail)</td>
                    <td>@(user.JoinDate.ToLongDateString())</td>
                    <td><a href="/Administrator/InstructorDetail?instructorID=@(user.ID)">View Details</a></td>
                </tr>
            }
    </table>
}

else
{
    <p>There are no instructors found</p>
}

