
@{
    ViewData["Title"] = "Student List";
}

<h1>Student List</h1>

@if (ViewBag.Students != null && ViewBag.Students.Count > 0)
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Student ID</th>
                <th>Full Name</th>
                <th>E-Mail</th>
                <th>Join Date</th>
                <th>Action</th>
            </tr>
            @foreach (User user in ViewBag.Students)
            {
        <tr>
            <td>@(user.ID)</td>
            <td>@(user.FirstName + " " + user.LastName)</td>
            <td>@(user.EMail)</td>
            <td>@(user.JoinDate.ToLongDateString())</td>
            <td>View Courses</td>
        </tr>
            }
    </table>
}

else
{
    <p>There are no students found</p>
}

