<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TerraformMinds</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/css/style.css" type="text/css" />

    <!-- Favicon and title -->
    <link rel="icon" href="/images/terraform-mind-icon.png">

    <script src="https://kit.fontawesome.com/f5e699c3ea.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>


        <!-- Start Navbar -->
        <nav class="mb-0 navbar navbar-expand-lg navbar-dark default-color ">

            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="/images/terraform-minds-logo.png" height="50" alt="Terraform Minds Logo"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fas fa-bars"></i></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent-333">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Course" asp-action="CourseList"><i class="fas fa-book"></i> Courses</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Privacy"><i class="fas fa-info-circle"></i> About</a>
                    </li>

                </ul>

                <ul class="navbar-nav ml-auto nav-flex-icons">
                    @if (User.Identity.Name == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="SignIn" asp-action="Index"><i class="fas fa-user"></i> SignIn</a>
                        </li>
                    }
                    else
                    {
                        /*---------------------------Display Dashboard according to user role----------------------*/
                        if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Administrator" asp-action="AdministratorDashboard"><i class="fas fa-sitemap"></i> Dashboard</a>
                            </li>
                        }
                        if (User.IsInRole("Instructor"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Instructor" asp-action="InstructorDashboard"><i class="fas fa-sitemap"></i> Dashboard</a>
                            </li>
                        }
                        if (User.IsInRole("Student"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Student" asp-action="StudentDashboard"><i class="fas fa-sitemap"></i> Dashboard</a>
                            </li>
                        }

                    }

                </ul>

            </div>
        </nav>
        <!-- End Navbar -->
    </header>


    <div class="p-0 m-0 border-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- Start Navbar -->
    <footer class="text-muted mt-0">
        <div class="card text-left border-0">
            <img class="card-img" src="~/images/forrest-lake-footer.png" alt="Forrest with a lake">
            <div class="card-img-overlay ">
                &copy; 2020 - TerraformMinds - <a asp-area="" asp-controller="Home" asp-action="Privacy">About Us</a>
            </div>
        </div>
    </footer>
    <!-- Start Navbar -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>

