
@{
    ViewData["Title"] = "RegisterUser";
}

<h1>Register User</h1>


@if (ViewBag.Message != null)
{
    <p class="alert-@(ViewBag.Error != null ? "danger" : "success")">@(ViewBag.Message)</p>

    if (ViewBag.Error != null)
    {
        <ul>
            @foreach (Exception e in ViewBag.Exception.ValidationExceptions)
            {
                <li class="alert-danger">@(e.Message)</li>
            }
        </ul>
    }
}




<section>
    <h2>Register User</h2>

    <form action="/Registration/RegisterUser" method="POST">

        <div class="form-group">
            <label for="firstName"></label>
            <input id="firstName" type="text" name="firstName" class="form-control" placeholder="First Name"  data-val="true" 
             data-val-required="Name is Required."  />
        </div>

        <div class="form-group">
            <label for="lastName"></label>
            <input id="lastName" type="text" name="lastName" value="" class="form-control" placeholder="Last Name" />
        </div>

        <div class="form-group">
            <label for="email"></label>
            <input id="email" type="text" name="email" value="" class="form-control" placeholder="Email" />
        </div>

        <div class="form-group">
            <label for="password"></label>
            <input id="password" type="text" name="password" value="" class="form-control" placeholder="Password" />
        </div>

        <div class="form-group">
            <input type="radio" value="3" id="role" name="role" />Student<br />
            <input type="radio" value="2" id="role" name="role" />Instructor<br />
        </div>



        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>

    </form>

</section>