@model TerraformMinds.Models.User
@{
    ViewData["Title"] = "RegisterUser";
}




<div class="container d-flex justify-content-center">


    <div class="card  align-self-center py-5 border-0" style="width: 380px;">

        <div class="card-header bg-white border-0">
            <h2>Create Your Terraform Minds Account</h2>
        </div>

        <div class="card-body">
            <form action="/Registration/RegisterUser" method="POST">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                @if (ViewBag.Message != null)
                {
                    <p class="alert-@(ViewBag.Error != null ? "danger" : "success")">@(ViewBag.Message)</p>

                    if (ViewBag.Error != null)
                    {
                        <ul class="list-group">
                            @foreach (Exception e in ViewBag.Exception.ValidationExceptions)
                            {
                                <li class="list-group-item list-group-item-danger">@(e.Message)</li>
                            }
                        </ul>
                    }
                }



                <div class="form-group">
                    <label for="FirstName">First Name</label>
                    <input asp-for="FirstName" class="form-control shadow-sm" placeholder="First Name" data-val="true" data-val-required="First Name is required" data-val-maxlength-max="50" data-val-maxlength="Name Cannot exceed 50 characters" />
                    <span asp-validation-for="FirstName" class="text-danger" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                </div>

                <div class="form-group">
                    <label for="LastName"> Last Name</label>
                    <input asp-for="LastName" class="form-control shadow-sm" placeholder="Last Name" data-val-required="Last Name is required" data-val-maxlength-max="50" data-val-maxlength="Name Cannot exceed 50 characters" />
                    <span asp-validation-for="LastName" class="text-danger" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                </div>

                <div class="form-group">
                    <label for="EMail">Email</label>
                    <input asp-for="EMail" class="form-control shadow-sm" placeholder="Email" data-val-required="Email is required" data-val-maxlength-max="50" data-val-maxlength="Email Cannot exceed 50 characters" data-val-regex="Incorrect Email Adress" data-val-regex-pattern="^[\w-!$*%^\.]+@@([\w-]+\.)+[\w-]{2,4}$" />
                    <span asp-validation-for="EMail" class="text-danger" data-valmsg-for="EMail" data-valmsg-replace="true"></span>
                </div>

                <div class="form-group">
                    <label for="Password">Password</label>
                    <input asp-for="Password" type="password" class="form-control shadow-sm" placeholder="Password" data-val-required="Password is required" data-val-maxlength-max="50" data-val-maxlength="Password Cannot exceed 50 characters" />
                    <span asp-validation-for="Password" class="text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>

                <div class="form-group">
                    <fieldset>
                        <legend for="Role"><small>Select A Role</small></legend>

                        <input asp-for="Role" type="radio" value="3" id="Student" data-val-required="Please Select One" />
                        <label for="Student">Student</label> <br />

                        <input asp-for="Role" type="radio" value="2" id="Instructor" data-val-required="Please Select One" />
                        <label for="Instructor">Instructor</label> <br />

                        <span asp-validation-for="Role" class="text-danger" data-valmsg-for="Role" data-valmsg-replace="true"></span>

                    </fieldset>
                </div>


                <div class="form-group d-flex justify-content-center py-5">
                    <input type="submit" value=" Register " class="btn btn-pink round" />
                </div>

            </form>
        </div>

        <div class="card-footer text-muted bg-white">
            <p><small> Already have an account</small></p>

            <p>
                <a asp-controller="SignIn" asp-action="SignIn"><small> Click Here to Sign In</small></a>
            </p>
        </div>

    </div>



</div>




@* Client Side Validation https://www.blinkingcaret.com/2016/03/23/manually-use-mvc-client-side-validation/
    Regex Validation https://regexr.com/3e48o *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




@*<form action="http://example.com/donut" method="post">
        <div class="form-group">
            <fieldset>
                <legend for="Role"><small>Select A Role</small></legend>

                <input asp-for="Role" type="radio" value="3" data-val-required="Please Select One" />
                <label for="Role">Student</label> <br />

                <input asp-for="Role" type="radio" value="2" data-val-required="Please Select One" />
                <label for="Role">Instructor</label>

                <span asp-validation-for="Role" class="text-danger" data-valmsg-for="Role" data-valmsg-replace="true"></span>

            </fieldset>
        </div>
    </form>*@

