/*---------------------------------------- General Styles-------------------------------------------*/


/* ------------------------------------- Yellow Button------------------------------------------------*/


    .btn {
        padding: 5px 15px;
        border: 0 none;
        letter-spacing: 1px;
    }



@media screen and ( min-width: 680px) {
    .btn {
        padding: 10px 20px;
        border: 0 none;
        letter-spacing: 1px;
    }
}

        .btn:focus, .btn:active:focus, .btn.active:focus {
            outline: 0 none;
        }

    .round {
        border-radius: 30px;
    }

    .btn-primary {
        background: #FFDA53;
        color: #2F2F75;
    }

        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
            background: #E9B90A;
        }

    /* ------------------------------------- Pink Button------------------------------------------------*/
    .btn-success {
        background: #FFDA53;
        color: #2F2F75;
    }

        .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
            background: #FBD445;
        }

/* ------------------------------------- Dashboard ------------------------------------------------*/


.border-8 {
    border-width: 8px !important;
    border-color: #2F2F75 !important;
}

.teal-text {
    color: #07769E !important;
}


    /*-----------------------------------------Nav Bar ----------------------------------------------------*/


    .navbar {
        min-height: 90px;
        background-color: #2F2F75;
    }

    .navbar-nav .nav-item .nav-link {
        color: #D8EBF6;
        font-size: 20px;
    }


        .navbar-nav .nav-item .nav-link:hover {
            color: #49BCD9;
        }


    /*---------------------------------------- Home Page Styles-------------------------------------------*/

h1, h2, h3, h4, h5 {
    color: #2F2F75;
}


    body {
        font-weight: 400;
    }

        body p {
            font-size: 1.25rem;
        }

    /*home-cards*/


    /*site-cards*/

    .site-cards, .banner {
        margin-bottom: 1rem !important;
    }

    .teacher-count {
        background-color: #A2D4DC;
    }

    .course-count {
        background-color: #8389C0;
    }

    .student-count {
        background-color: #E399BA;
    }

    .teacher-count, .course-count, .student-count {
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

        .teacher-count img, .course-count img, .student-count img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

.teacher-circle, .course-circle, .student-circle {
    border-radius: 100%;
    width: 125px;
    height: 125px;

}
