/*---------------------------------------- General Styles-------------------------------------------*/
/* ------------------------------------- Yellow Button------------------------------------------------*/
/** {
    outline: 1px solid #FF0000;
}*/

.btn {
    padding: 5px 15px;
    border: 0 none;
    letter-spacing: 1px;
}



@media screen and ( min-width: 680px) {
    .btn {
        padding: 10px 20px;
        border: 0 none;
        letter-spacing: 1px;
    }
}

.btn:focus, .btn:active:focus {
    outline: 0 none;
}

.round {
    border-radius: 30px;
}

.btn-yellow {
    background: #FFDA53;
    color: #2F2F75;
    width: 250px;
}

    .btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active, .btn-yellow:active:focus {
        background: #FFE070;
        box-shadow: 0px 5px 10px #E3AEE1;
        color: #434381;
    }

/* ------------------------------------- Pink Button------------------------------------------------*/
.btn-pink {
    background: #E44485;
    color: #FFF;
    width: 250px;
}


    .btn-pink:hover, .btn-pink:focus, .btn-pink:active, .btn-pink.active {
        background: #E35790;
        box-shadow: 0px 5px 10px #E3AEE1;

    }

/* ------------------------------------- Dashboard ------------------------------------------------*/
.border-8 {
    border-width: 0px !important;
}


@media screen and ( min-width: 768px) {
    .border-8 {
        border-width: 8px !important;
        border-color: #2F2F75 !important;
    }
}


/*----------------------------------------- Text with teal color ----------------------------------------------------*/

.teal-text {
    color: #07769E !important;
}

    .teal-text:hover {
        color: #5E9AC1 !important;
    }

/*---------------------------------------- Active link for page-------------------------------------------*/
.active {
    color: #5E9AC1 !important;
}

/*----------------------------------------- Card Header colors accourding to course sbujects---------------------------*/
.bg-English {
    background-color: #E299BA;
}

.bg-Math {
    background-color: #A2D4DC;
}

.bg-Science {
    background-color: #C6CAE7;
}

.bg-Social {
    background-color: #FFDA53;
}
/*----------------------------------------- Adjust table width on Tablet size---------------------------*/
@media screen and ( min-width: 760px) {
    .table-width {
        width:500px;
    }
}

@media screen and ( min-width: 900px) {
    .table-width {
        width: 600px;
    }
}

@media screen and ( min-width: 1100px) {
    .table-width {
        width: Auto;
    }
}


/*-----------------------------------------Nav Bar ----------------------------------------------------*/


.navbar {
    min-height: 90px;
    background-color: #2F2F75;
}

.navbar-nav .nav-item .nav-link {
    color: #D8EBF6;
    font-size: 20px;
}

.active1 {
    color: #ffffff;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #49BCD9;
}


/*---------------------------------------- Home Page Styles-------------------------------------------*/

h1, h2, h3, h4, h5 {
    color: #2F2F75;
}


body {
    font-weight: 400;
}

    body p {
        font-size: 1.25rem;
    }


/*------------------------------------------- Counters -------------------------------------------------------*/

.site-cards {
    margin-bottom: 1rem !important;
}

.teacher-count {
    background-color: #A2D4DC;
}

.course-count {
    background-color: #8389C0;
}

.student-count {
    background-color: #E399BA;
}

.teacher-count, .course-count, .student-count {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.teacher-count img, .course-count img, .student-count img {
     display: block;
     margin-left: auto;
     margin-right: auto;
}

.teacher-circle, .course-circle, .student-circle {
    border-radius: 100%;
    width: 125px;
    height: 125px;
}
