@{
    ViewData["Title"] = "Home Page";
}

<div>

    <div class="bg-light">
        <h1 class=" pt-5 px-5 font-weight-bold text-center">One Stop Learning Solution</h1>
        <div class="d-flex justify-content-between ">
            <div class="w-75 p-5 text-center">
                <p>Bringing quality education to your doorstep</p>
                <p>Learning opportunities for students from Kindergarten to Grade 12</p>
            </div>
            <div class="w-25 align-content-lg-end d-flex align-items-center ">
                <img src="~/images/Study-lamp.jpg" height="100" alt="Study Lamp With Books" />
            </div>
        </div>
    </div>


    <div class="card text-center">
        <img class="card-img" src="~/images/banner-fun-desktop.png" alt="A Photo collection of artwork inspired by Ted Hamilton's art">
        <div class="card-img-overlay ">
            <a asp-controller="Registration" asp-action="Index" class="btn btn-yellow btn-lg round ">Create a free account</a>
        </div>
    </div>

</div>


<div class="container">

    <div class="Card my-5">
        <h2 class="text-center">State of the art Learning Management System</h2>
        <div class="p-5 mx-5 text-center">
            <p>Terraform Minds provides learning opportunities for students ranging from Kindergarten to Grade 12 who are looking to learn or expand their knowledge in Mathematics, Sciences, Language Arts and Social Studies</p>
            <p>We also provide great options for teachers to share their knowledge with our students</p>
        </div>


    </div>

    <div class="content-wrapper home-cards">
        <div class="card mb-5 shadow">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="~/images/female-book-readers.jpg" class="card-img" alt="Group of students reding books" />
                </div>
                <div class="col-md-8">
                    <div class="card-body text-lg-center">
                        <h2 class="card-title">What Do We Teach</h2>
                        <p class="card-text">We deliver current course curriculum that aims to teach and improve student’s knowledge in mathematics, sciences, language arts, and social studies.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-5 shadow">
            <div class="row no-gutters">
                <div class="col-md-7">
                    <div class="card-body text-lg-center">
                        <h2 class="card-title">Why Choose Terraform Minds</h2>
                        <p class="card-text ">We have plenty of courses that range in a variety of subjects that can easily be found and registered for in a few simple clicks.</p>
                        <a asp-controller="Course" asp-action="CourseList" class="btn btn-yellow btn-lg round ">View Courses</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="~/images/kid-online-course.jpg" class="card-img" alt="A boy at home online learning" />
                </div>
            </div>
        </div>

        <div class="card mb-5 shadow">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="~/images/group-students-online-course.jpg" class="card-img" alt="A group of students doing online courses." />
                </div>
                <div class="col-md-7">
                    <div class="card-body text-lg-center">
                        <h2 class="card-title">Easy Access</h2>
                        <p class="card-text">COVID-19 brings many new challenges and uncertainties that may cause disruptions in learning. With Terraform Minds, you can bring the learning home with flexible online courses and modules that keep students engaged and motivated.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-cards card-deck">
        <div class="teacher-count card">
            <img src="~/images/teacher-male.jpg" class="teacher-circle shadow-lg" alt="Image of teacher waving"/>
            <div class="card-body">
                <p class="card-text">@(ViewBag.InstructorCount)+</p>
                <p class="card-text">Dedicated Teachers</p>
            </div>
        </div>

        <div class="course-count card">
            <img src="~/images/english-textbook.jpg" class="course-circle shadow-lg" alt="Image of textbooks"/>
            <div class="card-body">
                <p class="card-text">@(ViewBag.CourseCount)+</p>
                <p class="card-text">Courses to choose from</p>
            </div>
        </div>

        <div class="student-count card">
            <img src="~/images/modern-students.jpg" class="student-circle" alt="Image of students"/>
            <div class="card-body">
                <p class="card-text">@(ViewBag.StudentCount)+</p>
                <p class="card-text">Grade K-12 Happy Students</p>
            </div>
        </div>
    </div>

    <div class="text-center mb-5">
        <h2 class=" m-5">Getting Started is Easy!</h2>
        <p>Create your teachers account and start teaching your favourite subjects</p>
        <p>Or Register your child in any of the courses in a few easy steps</p>
        <a asp-controller="Registration" asp-action="Index" class="btn btn-yellow btn-lg round">Create your Account</a>
    </div>
</div>
