@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <a class="tm-yellow-button" asp-controller="Registration" asp-action="RegisterUser">Click Here to Register</a>
  
    <button type="button" class="tm-yellow-button" value="">Click me</button>
    </p>
</div>
