@{
    ViewData["Title"] = "About Us";
}

<div class="container d-flex justify-content-center">



    <div class="card align-self-center py-5 border-0">

       

        <div class="card-body">
            <h2 class="card-title">About Us</h2>
            <p class="card-text"> <small>This Project is made possible through the hard work of</small></p>
            <p class="card-text"><small> Irwin Singh</small></p>
            <p class="card-text"><small> Danish Habib</small></p>
       

        </div>


    

    </div> <!--End Card-->


</div> <!--End Container-->
